
.money {
    float: right;
    width: 40%;
    text-align: right;
    font-size: 13px;
    color: #888;
    padding: 5px;
}

.book_type {
    float: left;
    width: 45%;
    text-align: left;
    font-size: 13px;
    color: #555;
    padding: 5px;
}

.demo-card-image.mdl-card {
    width: 145px;
    height: 230px;
}

.mdl-card--expand, .mdl-card__actions {
    cursor: pointer;
}

.demo-card-image > .book-title {
    height: 80px;
    padding: 15px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);

}

.demo-card-image > .book-title > div {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word; /* aaaaaaaaaaa같은 영문때문에 필요 */
}

.card-custom-area {
    text-align: right;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

#button_delete_all {
    margin-left: 16px;
    margin-bottom: 16px;
    color: rgb(244, 67, 54);
}

.button_url {
    font-size: 18px;
}

.button_delete_item {
    font-size: 18px;
}

.clearFix {
    clear: both;
}

#tip {
    margin-left: 16px;
    margin-top: 6px;
}

.alert {
    color: rgb(244, 67, 54);
    font-size: 12px;
    margin-bottom: 5px;
    border: 1px solid;
    padding: 2px;
}

.icon-red {
    color: rgb(244, 67, 54);
}

.infor {
    color: #3E4EB8;
    font-size: 12px;
    margin-bottom: 5px;
    border: 1px solid;
    padding: 2px;
}

#webpage-link {
    margin-top:20px;
    margin-left:20px;
}

#credit_amount {
    width:80px;
    margin-top:12px;
    margin-left:135px;
}

.mdl-dialog {
    width: 400px;
}

#dialog_order_title {
    font-weight: bold;
    color: #222;
    font-size: 16px;
    margin-bottom: 10px;
}

#dialog_book_title {
    color: #333;
    font-size: 16px;
    margin-bottom: 6px;
}

.infor_wrap {
    margin-top: 5px;
    max-height: 130px;
    overflow-y: scroll;
    margin-bottom: 6px;
}

.mdl-dialog {
    overflow-y: scroll;
}

#dialog_price {
    font-size: 15px;
    color: #39B449;
    width: 100%;
    font-weight: bold;
    text-align: right;
    padding: 3px;
    margin-bottom: 5px;
}

#dialog_before_credit {
    font-size: 13px;
    color: #444;
    width: 100%;
    text-align: right;
    padding: 3px;
}

#dialog_after_credit {
    font-size: 14px;
    color: #F54D1C;
    width: 100%;
    text-align: right;
    padding: 3px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    font-weight: bold;
}

.mdl-dialog__content {
    padding-bottom: 5px;
}

.order {
    background: #3E4EB8;
    color: white;
}

.left {
    position :absolute;
    left : 40px;
    font-size:15px;
    color:#555;
}


