body {
    min-height: 500px;
}

.mdl-js-snackbar.mdl-snackbar {
    left: 0;
}

table.mdl-data-table {
    width: 100%;
}

table.mdl-data-table th {
    text-align: center;
}

#spinner {
    width: 100%;
    padding-top: 180px;
    text-align: center;
}

#empty {
    text-align: center;
    padding-top: 180px;
}

div.warning {
    color: #F44336;
}

div.done {
    color: #4CAF50;
}

td.book-title {
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#webpage-link {
    margin-top:20px;
    margin-left: 235px;
}