<section class="history-card mdl-shadow--2dp">
    <table class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
            <th colspan="3">{{orderDate}} 신청</th>
        </tr>
        </thead>
        <tbody>
        {{#books}}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">{{book.title}}</td>
                <td>{{book.price}}</td>
                <td>{{status}}</td>
            </tr>
        {{/books}}
        </tbody>
    </table>
</section>